.home {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homeHeader {
    width: 100%;
    height: 6%;
    background-color: #26282b;
    background-image: linear-gradient(160deg, #26282b 0%, #353941 130%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    z-index: 999;
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
    color: white;
}

.headerSearchBar input {
    width: 36vw;
    color: white;
}

.homeContainer {
    width: 94%;
    margin-left: 5%;
    height: 94%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.leftSidebar {
    background-color: #26282b;
    background-image: linear-gradient(160deg, #26282b 0%, #353941 200%);
    height: 100vh;
    width: 5%;
    position: absolute;
    left: 0%;
}

.leftPane {
    width: 20%;
    height: 88vh;
}

.middlePane {
    width: 55%;
    height: 88vh;
    z-index: 999;
}

.rightPane {
    width: 20%;
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.explorePane {
    height: 96%;
    width: 95%;
    background-color: #26282b;
    background-image: linear-gradient(160deg, #26282b 0%, #353941 100%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(253, 247, 247, 0.3) 0px 1px 3px -1px;
    border-radius: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1rem;
}

.mainPane {
    height: 96%;
    width: 96.5%;
    background-color: #26282b;
    background-image: linear-gradient(160deg, #26282b 0%, #353941 100%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(253, 247, 247, 0.3) 0px 1px 3px -1px;
    border-radius: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1rem;
}

.rightPaneCommunities {
    height: 36%;
    width: 100%;
    background-color: #26282b;
    background-image: linear-gradient(160deg, #26282b 0%, #353941 100%);
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(253, 247, 247, 0.3) 0px 1px 3px -1px; */
    border-radius: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1rem;
    font-family: "Varela Round", serif;
    font-weight: 700;
    font-size: 15px;
    font-style: normal;
    color: white;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: rgba(50, 107, 236, 0.25) 100px 54px 700px, rgba(50, 107, 236, 0.12) 0px -12px 60px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(144, 184, 248, 0.09) 0px -3px 5px;
    overflow: hidden;
    transition: all .3s;
}

.createCommunitiesBtn {
    width: 30px;
    height: 30px;
    display: flex;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    position: absolute;
    right: 3%;
    bottom: 3%;
    align-items: center;
    justify-content: center;
    border-radius: 60%;
    transition: all .3s;
}

.createCommunitiesbtnHide {
    transition: all .5s;
    display: none;
}

.createCommunityButtons {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: .5rem;
}

.createCommunityButtonsCncl, .createCommunityButtonsCrt {
  width: fit-content;  
  height: fit-content;
  padding: 0.55rem 1.2rem 0.55rem 1.2rem;
  border-radius: 10px;
  background-color: #26282b;
  border: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #757575;
  cursor: pointer;
}

.createCommunityButtonsCncl::before, .createCommunityButtonsCrt::before {
    content: "";
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    z-index: -1;
    width: 102%;
    height: 105%;
    background-color: #B721FF;
    position: absolute;
    border-radius: 10px;
    border: none;
    margin: 0 auto;
    padding: .01rem .02rem .01rem 0.02rem;
  }

  .createCommunityButtonsCrt::before {
    content: "";
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    z-index: -1;
    width: 102%;
    height: 105%;
    background-color: #B721FF;
    position: absolute;
    border-radius: 10px;
    border: none;
    margin: 0 auto;
    padding: .01rem .02rem .01rem 0.02rem;
    transition: all .3s;
  }

  .createCommunityButtonsCncl:hover::before {
    content: "";
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    z-index: -1;
    width: 102%;
    height: 105%;
    background-color: #B721FF;
    position: absolute;
    border-radius: 10px;
    border: none;
    margin: 0 auto;
    padding: .01rem .02rem .01rem 0.02rem;
    transition: all .3s;
    box-shadow: rgba(183, 33, 255, 0.4) 0px 2px 4px, rgba(183, 33, 255, 0.3) 0px 7px 13px -3px, rgba(33, 212, 253, 0.2) 0px -3px 0px inset;
  }

  .createCommunityButtonsCrt:hover::before {
    content: "";
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    z-index: -1;
    width: 102%;
    height: 105%;
    background-color: #B721FF;
    position: absolute;
    border-radius: 10px;
    border: none;
    margin: 0 auto;
    padding: .01rem .02rem .01rem 0.02rem;
    transition: all .3s;
    box-shadow: rgba(183, 33, 255, 0.4) 0px 2px 4px, rgba(33, 212, 253, 0.3) 0px 7px 13px -3px, rgba(33, 212, 253, 0.2) 0px -3px 0px inset;
  }

  .communityDescriptionMembers {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

.minimizeCommunitierHeader {
    display: block;
}

.communitiesControlMinimize {
    height: 100%;
    width: 100%;
    padding: 0 .5rem .7rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hideMinimizeCommunitierHeader {
    display: none;
}

.createCommunitiesPopup {
    width: 40%;
    height: 50vh;
    transform: scale(0%);
    background-color: #26282b;
    background-image: linear-gradient(160deg, #26282b 0%, #353941 100%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(253, 247, 247, 0.3) 0px 1px 3px -1px;
    border-radius: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1rem;
    position: absolute;
    margin: 0 auto;
    z-index: 999;
}

.createCommunitiesPopupShow {
    width: 40%;
    height: 50vh;
    background-color: #26282b;
    background-image: linear-gradient(160deg, #26282b 0%, #353941 100%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(253, 247, 247, 0.3) 0px 1px 3px -1px;
    border-radius: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1rem;
    position: absolute;
    margin: 0 auto;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(100%);
    transition: all .35s;
}

.communitiesDialogBorder {
    width: 40.5%;
    height: 51vh;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    border-radius: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1rem;
    position: absolute;
    margin: 0 auto;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(100%);
    transition: all .35s;
}

.createCommunitiesContainer {
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.createCommunityTitle {
    width: 100%;
}

.createCommunityTitle input {
    font-size: 33px;
    padding: 10px 10px 10px 20px;
    display: block;
    width: 96%;
    border: none;
    background: transparent;
    border-bottom: 1px solid #757575;
    color: white
}

.createCommunityDescription {
    width: 100%;
}

.createCommunityDescription textarea {
    width: 95%;
    height: 15vh;
    background: rgba(69, 71, 73, 0.58);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.4px);
    -webkit-backdrop-filter: blur(11.4px);
    border: 1px solid rgba(69, 71, 73, 1);
    box-shadow: rgb(50, 50, 50) 3px 3px 6px 0px inset, rgba(50, 50, 50, 0.5) -3px -3px 6px 1px inset;
    resize: none;
    padding: 18px 20px;
    box-sizing: border-box;
    font-family: "Varela Round", serif;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    color: white;
}

.createCommunityMembers {
    width: 95%;
    height: 23%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: rgba(69, 71, 73, 0.58);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.4px);
    -webkit-backdrop-filter: blur(11.4px);
    border: 1px solid rgba(69, 71, 73, 1);
    box-shadow: rgb(50, 50, 50) 3px 3px 6px 0px inset, rgba(50, 50, 50, 0.5) -3px -3px 6px 1px inset;
    font-family: "Varela Round", serif;
    font-weight: 700;
    font-size: 15px;
    font-style: normal;
    overflow: hidden;
}

.communityMembers {
    width: 95%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.createCommunityMembers input {
    width: 88%;
    color: white;
    margin-bottom: 1vh;
}

.communityPrivacy {
    color: white;
    background-color: #26282b;
    border: none;
    padding: .1rem;
    border-radius: 5px;
}

.addedMembers {
    width: 81%;
    color: white;
    height: 73%;
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
    background: rgba(69, 71, 73, 0.58);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.4px);
    -webkit-backdrop-filter: blur(11.4px);
    border: 1px solid rgba(69, 71, 73, 1);
    box-shadow: rgb(50, 50, 50) 3px 3px 6px 0px inset, rgba(50, 50, 50, 0.5) -3px -3px 6px 1px inset;
    font-family: "Varela Round", serif;
    font-weight: 700;
    font-size: 15px;
    font-style: normal;
}

.bufferShow {
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    z-index: 1000;
    opacity: 30%;
}

.createCommunitiesBtn:hover {
    transform: scale(103%);
    transition: all .3s;
    cursor: pointer;
    box-shadow: rgba(183, 33, 255, 0.25) 100px 54px 700px, rgba(50, 107, 236, 0.12) 0px -12px 360px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(144, 184, 248, 0.09) 0px -3px 5px;
}

.rightPaneCommunitiesExpand {
    height: 90%;
    width: 100%;
    background-color: #26282b;
    background-image: linear-gradient(160deg, #26282b 0%, #353941 100%);
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(253, 247, 247, 0.3) 0px 1px 3px -1px; */
    border-radius: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1rem;
    font-family: "Varela Round", serif;
    font-weight: 700;
    font-size: 15px;
    font-style: normal;
    color: white;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: rgba(50, 107, 236, 0.25) 100px 54px 700px, rgba(50, 107, 236, 0.12) 0px -12px 360px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(144, 184, 248, 0.09) 0px -3px 5px;
    overflow: hidden;
    transition: all .3s;
}

.communitiesHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
}

.communitiesHeader .communitiesTab {
    padding: .5rem;
    margin: 0 .3vw 0 .3vw;
    position: relative;
    text-align:center;
    color:#191335;
    background-image:linear-gradient(to top, #191335, #191335 13.33333%, #26afce 72.66666%, #f021ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% 450%;
    background-position: bottom;
    transition: all .22s linear;
}

.communitiesHeader .communitiesTab:hover {
    background-position: top left 100%;
  }

.communitiesTabActive {
    padding: .5rem;
    margin: 0 .3vw 0 .3vw;
    position: relative;
    text-align:center;
    color:#191335;
    background-image:linear-gradient(to top, #191335, #191335 13.33333%, #26afce 72.66666%, #f021ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% 450%;
    background-position: bottom;
    transition: all .22s linear;
    background-position: top left 100%;
}
/* background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%); */

/* .communitiesHeader .communitiesTab:hover::before {
    content: "";
    height: fit-content;
    width: 102%;
    padding: .5rem;
    margin: 0 .3vw 0 .3vw;
    transition: all 1s;
    position: absolute;
} */

.communitiesHeader .findCommunitiesTab {
    padding: .5rem;
    margin: 0 .3vw 0 .3vw;
    position: relative;
    text-align:center;
    color:#191335;
    background-image:linear-gradient(to top, #191335, #191335 13.33333%, #26afce 72.66666%, #f021ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% 450%;
    background-position: bottom;
    transition: all .25s linear;
}

.communitiesHeader div {
    cursor: pointer;
    min-width: fit-content;
}

.communitiesControl {
    width: 100%;
    height: fit-content;
    padding: 0 .5rem .7rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.communitiesControl i, .communitiesControlMinimize i {
    color: #757575;
    cursor: pointer;
    margin: .3rem .5rem .3rem .5rem;
}

.hideHeaderOption {
    display: none;
}

.hidePane {
    height: 1%;
    transition: all .3s;
}

.bothCommunities {
    display: flex;
    flex-direction: row;
    width: 128%;
}

.communitiesBody {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.findCommunititesBody {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.communitiesContent {
    width: 100%;
    display: flex;
    height: fit-content;
    height: 100%;
    border-radius: 15px;
    transform: translateX(0);
    transition: all .5s;
}

.rightPane span {
    min-width: fit-content;
}

.communitiesContentHide {
    transform: translateX(-250px);
    transition: all .5s;
}

.communitiesContent ul {
    list-style: none;
}

.communitiesContent ul li {
    display: flex;
    align-items: center;
    font-size: 13.5px;
}

.findCommunitiesContent {
    width: 100%;
    display: flex;
    height: fit-content;
    height: 100%;
    border-radius: 15px;
    transform: translateX(-250px);
    transition: all .5s;
}

.findCommunitiesContentHide {
    transform: translateX(250px);
    transition: all .5s;
}

.findCommunitiesContent ul {
    list-style: none;
}

.findCommunitiesContent ul li {
    display: flex;
    align-items: center;
}

.communityImage {
    width: 40px;
    height: 40px;
    background-color: aliceblue;
    border-radius: 25px;
    display: inline-flex;
    margin-right: .8vw;
}

.communitiesHeader .findCommunitiesTab:hover {
    background-position: top left 100%;
  }

.rightPaneFriends {
    height: 55%;
    width: 100%;
    background-color: #26282b;
    background-image: linear-gradient(160deg, #26282b 0%, #353941 100%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(253, 247, 247, 0.3) 0px 1px 3px -1px;
    border-radius: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1rem;
    font-family: "Varela Round", serif;
    font-weight: 700;
    font-size: 15px;
    font-style: normal;
    overflow: hidden;
    transition: all .3s;
    box-shadow: rgba(183, 33, 255, 0.25) 100px 54px 700px, rgba(50, 107, 236, 0.12) 0px -12px 360px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(144, 184, 248, 0.09) 0px -3px 5px;
}

.rightPaneFriendsExpand {
    height: 90%;
    width: 100%;
    background-color: #26282b;
    background-image: linear-gradient(160deg, #26282b 0%, #353941 100%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(253, 247, 247, 0.3) 0px 1px 3px -1px;
    border-radius: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1rem;
    font-family: "Varela Round", serif;
    font-weight: 700;
    font-size: 15px;
    font-style: normal;
    overflow: hidden;
    transition: all .45s;
    box-shadow: rgba(183, 33, 255, 0.25) 100px 54px 700px, rgba(50, 107, 236, 0.12) 0px -12px 360px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(144, 184, 248, 0.09) 0px -3px 5px;
}

.rightPaneFriendsCollapse {
    height: 1%;
    width: 100%;
    background-color: #26282b;
    background-image: linear-gradient(160deg, #26282b 0%, #353941 100%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(253, 247, 247, 0.3) 0px 1px 3px -1px;
    border-radius: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1rem;
    font-family: "Varela Round", serif;
    font-weight: 700;
    font-size: 15px;
    font-style: normal;
    overflow: hidden;
    transition: all .3s;
    color: white;
}

.communitiesSearhbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.communitiesSearhbar input {
        font-size: 14px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 300px;
        border: none;
        background: transparent;
        border-bottom: 1px solid #757575;
        color: #ffffff;
        font-family: "Varela Round", serif;
        font-weight: 500;
        font-size: 13px;
        font-style: normal;
}

.communitiesSearhbar input::placeholder{
    font-family: "Varela Round", serif;
    font-weight: 600;
    font-size: 15px;
    font-style: normal;
}

.friendsBody {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    color: white;
}

.allFriendsTabs {
    display: flex;
    flex-direction: row;
    width: 190%;
}

.friendsContent {
    width: 100%;
    display: flex;
    height: fit-content;
    height: 100%;
    border-radius: 15px;
    transform: translateX(0);
    transition: all .5s;
}

.allFriendsContent {
    width: 100%;
    display: flex;
    height: fit-content;
    height: 100%;
    border-radius: 15px;
    transform: translateX(-223px);
    transition: all .5s;
}

.findFriendsContent {
    width: 100%;
    display: flex;
    height: fit-content;
    height: 100%;
    border-radius: 15px;
    transform: translateX(-446px);
    transition: all .5s;
}

.activeFriendsContentHide {
    transform: translateX(-250px);
    transition: all .5s;
}

.allFriendsContentRightHide {
    transform: translateX(250px);
    transition: all .5s;
}

.allFriendsContentLeftHide {
    transform: translateX(-473px);
    transition: all .5s;
}

.findFriendsContentHide {
    transform: translateX(400px);
    transition: all .5s;
}

.friendsContent ul, .allFriendsContent ul, .findFriendsContent ul {
    list-style: none;
}

.friendsContent ul li, .allFriendsContent ul li, .findFriendsContent ul li {
    display: flex;
    align-items: center;
    font-size: 13.5px;
}

.communitySettings {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Varela Round", serif;
    font-weight: 700;
    font-size: 14px;
    font-style: normal;
    color: white;
}

.communitySettingsSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 9.5vw;
}

.communitySettingsSection span {
    min-width: fit-content;
}

.communitySettingsSectionTags {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tagDropDown {
    width: 100%;
    height: fit-content;
    padding: 0.55rem 1.2rem 0.55rem 1.2rem;
    border-radius: 10px;
    background-color: #26282b;
    border: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #757575;
    cursor: pointer;
    font-family: "Varela Round", serif;
    font-weight: 700;
    font-size: 12px;
    font-style: normal;
}

.selectTagsContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #B721FF;
}

.tagOptions {
    height: 15vh;
    position: absolute;
    top: 100%;
    overflow: auto;
    width: 100%;
    padding: .5rem;
    border-radius: 4px;
    z-index: 99999;
    background: rgba(69, 71, 73, 0.58);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.4px);
    -webkit-backdrop-filter: blur(11.4px);
    border: 1px solid rgba(69, 71, 73, 1);
    box-shadow: rgb(50, 50, 50) 3px 3px 6px 0px inset, rgba(50, 50, 50, 0.5) -3px -3px 6px 1px inset;
    font-family: "Varela Round", serif;
    font-weight: 700;
    font-size: 13px;
    font-style: normal;
    color: white;
}

.tagOptions input {
    accent-color: #7e04b7;
}

.tagOptions div {
    width: fit-content;
    padding: .5rem 0rem .2rem .1rem;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.tagOptions input {
    width: fit-content;
    margin-right: .5rem;
}

.tagOptionsHide {
    display: none;
}

.tagDropDown::before {
    content: "";
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    z-index: -1;
    width: 102%;
    height: 105%;
    background-color: #B721FF;
    position: absolute;
    border-radius: 10px;
    border: none;
    margin: 0 auto;
    padding: .01rem .02rem .01rem 0.02rem;
}

.activeTags {
    width: 60%;
    height: 5vh;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow-x: scroll;
    background: rgba(69, 71, 73, 0.58);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.4px);
    -webkit-backdrop-filter: blur(11.4px);
    border: 1px solid rgba(69, 71, 73, 1);
    box-shadow: rgb(50, 50, 50) 3px 3px 6px 0px inset, rgba(50, 50, 50, 0.5) -3px -3px 6px 1px inset;
    font-family: "Varela Round", serif;
    font-weight: 700;
    font-size: 12.5px;
    font-style: normal;
    margin-left: 2vw;
    overflow-y: hidden;
}

.activeTags li {
    min-width: fit-content;
}

.selectTags {
    width: 20vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.activeTags ul {
    display: inline-flex;
    list-style: none;
}

.activeTags ul li {
    width: 4vw;
}


.createCommunityForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .foundMember {
    width: fit-content;
    height: fit-content;
    background: aliceblue;
    position: absolute;
    padding: 0rem 1rem 0rem 1rem;
    bottom: 61%;
    z-index: 1000;
  }

  @media (min-width: 1000px) {
    .communityImage {
        width: 5vw;
        height: 3.9vh;
        background-color: aliceblue;
        border-radius: 25px;
        display: inline-flex;
        margin-right: .8vw;
    }

    .rightPaneCommunities, .rightPaneCommunitiesExpand, .rightPaneFriends, .rightPaneFriendsExpand {
        font-size: 13px;
    }
  }

/*
	Color Palette (darker at top)
	#353941
	#26282B
	#5F85DB
	#90B8F8
*/